<div id='container'>
  <div id='map'></div>
  <div>
    <ul id='key'>
      <li><%= check_box_tag 'Ruby', nil, true %><span id="red"></span> Ruby</li>
      <li><%= check_box_tag 'JavaScript', nil, true %><span id="green"></span> JavaScript</li>
      <li><%= check_box_tag 'Python', nil, true %><span id="blue"></span> Python</li>
      <li><%= check_box_tag 'Java', nil, true %><span id="yellow"></span> Java</li>
      <li><%= check_box_tag 'CSS', nil, true %><span id="purple"></span> CSS</li>
      <li><%= check_box_tag 'C++', nil, true %><span id="orange"></span>C++</li>
      <li><%= check_box_tag 'PHP', nil, true %><span id="brown"></span>PHP</li>
      <li><%= check_box_tag 'Shell', nil, true %><span id="indigo"></span>Shell</li>
      <li><%= check_box_tag 'C', nil, true %><span id="pink"></span>C</li>
      <li><%= check_box_tag 'Objective-C', nil, true %><span id="aqua"></span>Objective-C</li>
    </ul>
  </div>
</div>
